

/* -----------------Reusable Components------------------ */

#main {
	background-image: linear-gradient(to top left, #4d8fac, #1c333e);
	color: #f4f8fa;
}

#homeMain {
	color: #f4f8fa;
	background: linear-gradient( rgba(39,72,86, 0.6), rgba(0,0,0, 0.6), rgba(39,72,86, 0.6)), url(../img/fitgirl-background.jpg);
	background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.h1, .h2, .main-head {
	text-align: center;
	letter-spacing: 2px;
}

.main-head {
	text-shadow: 3px 3px 4px #000000;
	font-size: 300%;
}

.h1 {
	font-weight: 300;
}

.h2 {
	font-weight: 300;
	font-size: 115%;
}

.h3 {
	font-weight: 300;
	letter-spacing: 1.36rem;
}

.logo {
	display: block;
	height: 75px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.25s ease;
	cursor: zoom-in;
}

#accountCategories {
	margin-right: 7px;
}

#accountInfo {
	margin-left: 7px;
}

#paymentForm,
#deleteAccModalTitle {
	color: #000;
}


/* -----------------Buttons------------------------------ */

#btn-or,
#btnWelcome,
#btnAccountChange,
#btnPayment,
#paymentMethodBtn,
#deleteAccBtn {
	display: block;
	background: #274856;
	color: #f4f8fa;
	border: #274856;
}

#btn-or {
	width: 103px;
}

#btnWelcome {
	width: 160px;
}

.btn-container {
	position: absolute;
	top: 55%;
	left: 50%;
	margin-left: -51.57px;
}

#homeBtns {
	position: absolute;
	top: 60%;
	width: 100%;
}

/* ---------------------Modal Windows---------------------------------- */

#login {
	color: #274856;
}

#paymentMethodBtn {
	width: 100%;
}

.ccPics {
	width: 2.5rem;
	height: auto;
	margin-left: 2px;
	margin-right: 2px;
}

.transparent {
    opacity: 0.2;
}

/* ---------------------Header Nav and Footer------------------------ */

#foot,
.navDarkish {
	background-color: #274856;
	color: #f4f8fa;
}

#foot {
	overflow: auto;
}

#navlinks li a {
	color: #f4f8fa;
	font-size: 95%;
}

#navlinks li a:active,
#navlinks li a:focus,
#logoutBtnDrop, 
#logoutBtnDrop form div button,
#accountBtnDrop,
#accountBtnDrop button {
	background: #46829b;
	border-radius: 7px;
	color: #f4f8fa;
}

#logoutBtn {
	background: #274856;
	border: #274856;
}

.logoutIcon {
	color: #f4f8fa;
}

.footerLogo {
	height: 30px;
	width: auto;
}

/* -----------------------Special Effects/Animations--------------------------- */

#zoomCheck {
	display: none;
}

#swolezoom {
	display: block;
}

input[type=checkbox]:checked ~ label>img {
	transform: scale(2);
	cursor: zoom-out;
}

/* ---------------------Media Queries--------------------------- */

@media ( min-width : 540px) {
	.btn-container {
		position: absolute;
		top: 55%;
		width: 100%;
		left: 0%;
		margin-left: 0px;
	}
	#btn-or {
		width: 100%;
	}
	#register-form {
		width: 540px;
	}
}